.app-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  font-size: 24px;

  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  color: #CACACA
}
